/* navbar*/
.navbar-collapse ul li{
  font-size: 18px;
  color: blue;
  text-transform: uppercase;
 
}
.navbar-toggler :focus{
  border-top: 1px;
  color: blue;

}
.logo_set{
  width: 80px;
  height: 35px;
  cursor: pointer;
}

/* Home Css */

